{% extends "base_ton.html" %}

{% block content %}
    <h1>Smart contract address:</h1>
    <p>{{ address }}</p>

    <h1>Smart contract status:</h1>
    <p>
        {% if is_closed %}
            <font color="#8b0000">Closed</font>
        {% else %}
            <font color="#006400">Opened</font>
        {% endif %}
    </p>

    <h1>Created:</h1>
    <p>{{ created_at }}</p>

    <h1>Customer:</h1>
    <p>
        <a href="{{ customer.get_profile_url }}">{{ customer }}</a>
    </p>

    <h1>Тask:</h1>
    <p>{{ task_text }}</p>

    <h1>Тask HASH:</h1>
    <p>{{ task_data.hash }}</p>

    <h1>Price:</h1>
    <table>
        <tr>
            <td>Security deposit ({{ security_deposit_percent }}%)</td>
            <td>{{ security_deposit }} TON</td>
        </tr>
        <tr>
            <td>Price for work</td>
            <td>{{ price }} TON</td>
        </tr>
    </table>

    {% if potential_executors is not None and potential_executors %}
        <h1>Responded executors:</h1>
        <table>
            {% for executor in potential_executors %}
                <tr>
                    <td>
                        <a href="{{ executor.get_profile_url }}">{{ executor }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if chosen_executors is not None and chosen_executors %}
        <h1>Chosen executors:</h1>
        <table>
            {% for executor in chosen_executors %}
                <tr>
                    <td>
                        <a href="{{ executor.get_profile_url }}">{{ executor }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if executor_choices_form is not None %}
        <form method="POST">
            {% csrf_token %}
            <h1>Add executors:</h1>
            {{ executor_choices_form }}
            <button type="submit">Add</button>
        </form>
    {% endif %}

    {% if executor is not None %}
        <h1>Executor:</h1>
        <p>
            <a href="{{ executor.get_profile_url }}">{{ executor }}</a>
        </p>
    {% endif %}

    {% if show_respond_button %}
        <a href="{% url 'ton-respond-to-make-deal-contract' pk=pk %}">
            <button>Respond</button>
        </a>
    {% endif %}

    {% if show_accept_invitation_button %}
        <a href="{% url 'ton-accept-invitation' pk=pk %}">
            <button>
                <font color="green">Accept invitation</font>
            </button>
        </a>
    {% endif %}

    {% if show_execution_contract_button %}
        <a href="{% url 'ton-execution-contract-info' pk=pk %}">
            <button>To execution smart contract</button>
        </a>
    {% endif %}
{% endblock content %}